In [1]:
import tensorflow as tf
import xgboost as xgb
import numpy as np
from sklearn.metrics import accuracy_score

import pandas as pd

gamble_dataset = pd.read_csv("./dataset/raw_gamble.csv")
gamble_dataset = pd.DataFrame(gamble_dataset.drop('Unnamed: 0', axis=1))

ad_dataset = pd.read_csv("./dataset/raw_advertisement.csv")
ad_dataset = pd.DataFrame(ad_dataset.drop('Unnamed: 0', axis=1))

white_dataset = pd.read_csv("./dataset/raw_white.csv")
white_dataset = pd.DataFrame(white_dataset.drop('Unnamed: 0', axis=1))

# dataset shuffle
gamble_dataset = gamble_dataset.sample(frac=1)
ad_dataset = ad_dataset.sample(frac=1)
white_dataset = white_dataset.sample(frac=1)

# 데이터셋 나누기 학습용 70% 테스트용 30%
gamble_train = gamble_dataset.sample(frac=0.8)
gamble_test = gamble_dataset.drop(gamble_train.index)

ad_train = ad_dataset.sample(frac=0.8)
ad_test = ad_dataset.drop(ad_train.index)

white_train = white_dataset.sample(frac=0.8)
white_test = white_dataset.drop(white_train.index)

###########################################
# 1단계 모델 만들기 (도박 vs 정상)
white_train['label'] = 0
gamble_train['label'] = 1
ad_train['label'] = 1

df_init = pd.concat([gamble_train, ad_train, white_train])
df_init.fillna(0, inplace=True)

total_columns = df_init.columns

2022-07-31 10:25:43.968004: I tensorflow/core/util/util.cc:169] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
/usr/lib/python3/dist-packages/pkg_resources/__init__.py:116: PkgResourcesDeprecationWarning: 1.1build1 is an invalid version and will not be supported in a future release
  warnings.warn(
/usr/lib/python3/dist-packages/pkg_resources/__init__.py:116: PkgResourcesDeprecationWarning: 0.1.43ubuntu1 is an invalid version and will not be supported in a future release
  warnings.warn(

In [2]:
gamble_train.columns

Index(['베팅', '2021-08', '회원', '가입', 'RUBY', '입력', '확인', '루비', '카지노', '은행',
       ...
       '05:14', '16:18', '영자', '체결', '고객정보', '라바', 'HN', '산립', 'LOGINCODE',
       '미리내'],
      dtype='object', length=21881)

In [3]:
total_columns

Index(['베팅', '2021-08', '회원', '가입', 'RUBY', '입력', '확인', '루비', '카지노', '은행',
       ...
       'HEt', 'kuniga', '1,317,156', '한빛소프트', '청보', 'GETD', 'COMUNICATIONS',
       '9/18', '11/10', 'kgames'],
      dtype='object', length=104936)

In [4]:
gamble_train

,베팅,2021-08,회원,가입,RUBY,입력,확인,루비,카지노,은행,...,05:14,16:18,영자,체결,고객정보,라바,HN,산립,LOGINCODE,미리내
1121,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,5.0,5.0,0.0,4.0,12.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
851,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
150,0.0,0.0,4.0,4.0,0.0,1.0,3.0,0.0,12.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
586,0.0,0.0,6.0,6.0,0.0,2.0,4.0,0.0,12.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,0.0,0.0,2.0,6.0,0.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
244,0.0,4.0,4.0,4.0,0.0,5.0,3.0,0.0,2.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1113,0.0,0.0,2.0,5.0,0.0,1.0,6.0,0.0,0.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
387,6.0,2.0,4.0,5.0,0.0,3.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
212,17.0,0.0,4.0,4.0,0.0,3.0,6.0,0.0,82.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
empty_df = pd.DataFrame(gamble_train, columns=total_columns)

In [6]:
empty_df

,베팅,2021-08,회원,가입,RUBY,입력,확인,루비,카지노,은행,...,HEt,kuniga,"1,317,156",한빛소프트,청보,GETD,COMUNICATIONS,9/18,11/10,kgames
1121,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,0.0,0.0,5.0,5.0,0.0,4.0,12.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
851,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,0.0,0.0,4.0,4.0,0.0,1.0,3.0,0.0,12.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
586,0.0,0.0,6.0,6.0,0.0,2.0,4.0,0.0,12.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,0.0,0.0,2.0,6.0,0.0,14.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,0.0,4.0,4.0,4.0,0.0,5.0,3.0,0.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1113,0.0,0.0,2.0,5.0,0.0,1.0,6.0,0.0,0.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,6.0,2.0,4.0,5.0,0.0,3.0,3.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,17.0,0.0,4.0,4.0,0.0,3.0,6.0,0.0,82.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
a = [1,2,4,6,7,3]
b = [1,2,5,4,7,2]
set(a) & set(b)

{1, 2, 4, 7}

In [8]:
a = np.array(a)

In [11]:
len(np.where(a>5)[0])

2

In [13]:
np.where(a>3)

(array([2, 3, 4]),)

In [14]:
len(np.where(a>3)[0])

3