In [59]:
import numpy as np
import pandas as pd

In [64]:
a = [1,1,0,1,0,1,1,0]
b = [4,4,3,6,3,3,9,3]

In [65]:
a = np.array(a)
b = np.array(b)

In [66]:
aa = pd.DataFrame(a)

In [67]:
aa

   0
0  1
1  1
2  0
3  1
4  0
5  1
6  1
7  0

In [70]:
kk = aa.replace(:,3)

SyntaxError: invalid syntax (3025094427.py, line 1)

In [69]:
kk

3

In [40]:
k = np.where(a>0)

In [41]:
b[k]

array([4, 4, 6, 3, 9])

In [46]:
c = np.empty_like(b)

In [48]:
c.shape

(8,)

In [49]:
b.shape

(8,)

In [50]:
a1 = [1,2,4,6,3]
b1 = [1,0,0,6,3]

In [54]:
len(set(a1) & set(b1))

3

In [55]:
a = 0

In [56]:
a

0